  html, body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Set both body and html to 100vh for full-page height */
  margin: 0;
  font-family: 'Open Sans', sans-serif; /* Applying Open Sans font */
}

hero {
  background-image: url("imgs/hero.jpg"); /* Replace with your image path */
  background-size: cover; /* Ensure image covers the entire area */
  background-position: center; /* Center the image horizontally and vertically */
  display: flex; /* Allow flexbox for content within the hero section (optional) */
  align-items: center; /* Vertically center content within the hero section (optional) */
  justify-content: center; /* Horizontally center content within the hero section (optional) */
  height: 350px;
}

hero img {
  display: none; /* Hide the actual image element if needed (optional) */
}


/* Add these styles to your style.css file */
.hero-image {
  width: 100%; /* Make the image cover the full width of the container */
  height: auto; /* Maintain image aspect ratio */
  object-fit: cover; /* Ensure the image fills the container while maintaining aspect ratio */
}

@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  .contentWrap {
    /* Adjust content positioning for smaller screens if needed */
  }
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
  width: 110px;
}



/* Add these styles to your style.css file */
.hero-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 0;
}

.contentWrap {
    position: relative;
    top:  20%;
    left: 13%;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}

.contentWrap div {
    font-size: 3em;
    color: white;
    margin-bottom: 25px;
}

.contentWrap button {
    color: white;
    padding: 22px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: black;
    font-size: 1.5em;
}

@media (max-width: 768px) {
  .contentWrap {
    /* Adjust content positioning for smaller screens if needed */
  }
}